.about{
    min-height: 100vh;
    padding-top: 10vh;
    display: flex;
}
.about-left{
    max-width: 65%;
    min-height: 90vh;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.about-left h1{
    color: #344256;
    font-size: 36px;
}
.about-left .underline{
    width: 170px;
    height: 5px;
    background-color: #2662d9;
    border-radius: 5px;
    margin: 4px 0px;
}
.about .bio{
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
}
.about-left .bio-icon-and-text{
    display: flex;
    align-items: center;
    gap: 8px;
}
.bio-text{
    font-size: 22px;
    font-weight: 500;
}
.bio .description{
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 15px;
}
.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-top: 20px;
    height: 230px;
}
.box-container .boxes{
    box-shadow: #344256 1px 1px 7px;
    height: 100%;
    width: 350px;
    border-radius: 20px;
    padding: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.3s;
}
.box-container .boxes:hover{
    transform: translateY(-10px);
}
.education{
    display: flex;
    align-items: center;
    gap: 15px;
}
.course{
    font-size: 18px;
    font-weight: 500;
}
.college{
    font-size: 15px;
}
.year{
    font-size: 15px;
    font-weight: 500;
}
.cgpa span{
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
}
.about-right{
    margin-top: 75px;
    padding: 20px 0px 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-image img{
    width: 170px;
    height: 200px;
    border-radius: 20px;
}
.sde{
    color: #4d6280;
    font-size: 16px;
}
.skills{
    display: flex;
    gap: 10px;
}
.download-btn{
    display: flex;
    padding: 6px 15px;
    background-color: #2662d9;
    height: auto;
    width: fit-content;
    border-radius: 12px;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.download-btn:hover{
    transform: scale(1.03);
}
.download-btn p{
    color: white;
    font-weight: 500;
}

@media (max-width : 1020px) {
    .box-container{
        flex-direction: column;
        gap: 20px;
    }
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about-right{
        margin-top: 220px;
        align-items: center;
    }
    .my-image img{
        margin-left: -10px;
    }
}
@media (max-width : 500px) {
    .about-left{
        padding-left: 0px;
    }
    .about-right{
        margin-top: 20px;
        padding-left: 0px;
        align-items: center;
    }
    .my-image img{
        margin-left: 0px;
    }
}